extends layout

block content
  div.container
    h1= title
    a(class="btn-floating btn-large modal-trigger waves-effect waves-light red" href="#modal")
      i.material-icons add

    table(class='striped highlight')
      tr
        thead
          th space
          th circle name
          th url
          th
      tbody
        each check,i in checks
          tr
            td
              - var sp = check.spPrefix + '-' + check.spNo + check.spAlphabet
              #{sp}
            td
              #{check.circleName}
            td
              a(href='#{check.notificationURL}' target='_blank') link
            td
              a(href='/checks/edit') edit data

  div.container
    form(action='/checks/new' method='post')
      div.row
        div(class='input-field col s1')
          input(id='spPrefix' name='spPrefix' type='text' class='validate')
          label(for='spPrefix') シ
        div(class='input-field col s1')
          input(id='spNo' name='spNo' type='text' class='validate')
          label(for='spNo') 21
        div(class='input-field col s1')
          input(id='spAlphabet' name='spAlphabet' type='text' class='validate')
          label(for='spAlphabet') a
        div(class='input-field col s3')
          select(name="eventID")
            option(value="" disabled selected) komike
            each circle in circleList
              option(value="#{circle.id}") #{circle.name}

        div(class='input-field col s3')
          input(id='notificationURL' name='notificationURL' type='text' class='validate')
          label(for='notificationURL') event url
        div(class='input-field col s1')
          button(class='btn waves-effect waves-light' type='submit' name='action')
            i(class='material-icons') send

  script(type='text/javascript', src='/js/jquery.min.js')
  script(type='text/javascript', src='/js/materialize.min.js')
  script(type='text/javascript', src='/js/checks.js')
