extends layout

block content
  div.container
    h1= title
    a(href='/circles/new')
      button(class='btn waves-effect waves-light blue lighten-5', type='submit', name='action')
        i(class='material-icons') regster circle
    table(class='striped highlight')
      tr
        thead
          th name
          th author
          th pixiv
          th
      tbody
        each v,i in circles
          tr
            td #{v.name}
            td #{v.author}
            td
              a(href='#{v.pixivURL}', target='_blank') #{v.pixivURL}
            td
              a(href='/circles/edit') edit data
  script(type='text/javascript', src='/js/jquery.min.js')
  script(type='text/javascript', src='/js/materialize.min.js')